# Introduction

Notebook for a first analysis of the data available. I will focus on just the years 2016 and 2017 for simplicity. Other notebooks will be created to analyse other years.

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('ggplot')
# print(plt.style.available)
# import seaborn as sns
# sns.set(style="darkgrid")

import functions

# Importing Datasets

In [5]:
# contrat = pd.read_csv("../data/contrat/contrats_deneigement_saison_2016-2017.csv")
# depot = pd.read_csv("../data/depot/depots_deneigement_saison_2016-2017.csv")
# secteur = pd.read_csv("../data/secteur/secteurs_deneigement_saison_2016-2017.csv")
# transaction = pd.read_csv("../data/transaction/transactions_deneigement_saison_2016-2017.csv")

contrat = pd.read_csv("../data/contrat/contrats_deneigement_saison_2022-2023.csv")
depot = pd.read_csv("../data/depot/depots_deneigement_saison_2022-2023.csv")
secteur = pd.read_csv("../data/secteur/secteurs_deneigement_saison_2022-2023.csv")
transaction = pd.read_csv("../data/transaction/transactions_deneigement_saison_2022-2023.csv")

## Contrat Overview

In [6]:
contrat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   IdentifiantContrat         130 non-null    int64
 1   NumeroContrat              130 non-null    object
 2   TypeContrat                130 non-null    object
 3   AnneeContrat               130 non-null    object
 4   NoResolution               16 non-null     object
 5   IdentifiantArrondissement  130 non-null    int64
 6   ArrondissementCode         130 non-null    object
 7   Arrondissement             130 non-null    object
 8   DescriptionType            130 non-null    object
 9   Entreprise                 130 non-null    object
dtypes: int64(2), object(8)
memory usage: 10.3+ KB

In [7]:
contrat.head()

,IdentifiantContrat,NumeroContrat,TypeContrat,AnneeContrat,NoResolution,IdentifiantArrondissement,ArrondissementCode,Arrondissement,DescriptionType,Entreprise
0,1123,AHU-101,Déneigement,2019-2023,CM16 0770,22,AHU,Ahuntsic / Cartierville,"Contrat exécuté dans sa totalilité (Épandage, ...",A. & O. Gendron inc.
1,1124,AHU-102,Déneigement,2020-2023,CM16 0770,22,AHU,Ahuntsic / Cartierville,"Contrat exécuté dans sa totalilité (Épandage, ...",Groupe Imog Inc.
2,1125,AHU-103,Déneigement,2020-2023,CM16 1072,22,AHU,Ahuntsic / Cartierville,"Contrat exécuté dans sa totalilité (Épandage, ...",9115-7883 Québec inc. / Sig-Nature
3,1126,AHU-104,Déneigement,2019-2023,NaN,22,AHU,Ahuntsic / Cartierville,"Contrat exécuté dans sa totalilité (Épandage, ...",Canbec Construction
4,1127,AHU-105,Déneigement,2019-2023,NaN,22,AHU,Ahuntsic / Cartierville,"Contrat exécuté dans sa totalilité (Épandage, ...",Groupe Imog Inc.

## Depot Overview

In [8]:
depot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   IdentifiantDepot           25 non-null     int64
 1   NomDepot                   25 non-null     object
 2   TypeDepot                  25 non-null     object
 3   Capacite                   25 non-null     float64
 4   Latitude                   25 non-null     float64
 5   Longitude                  25 non-null     float64
 6   VolumeDeverse              25 non-null     float64
 7   IdentifiantArrondissement  25 non-null     int64
 8   ArrondissementCode         25 non-null     object
 9   Arrondissement             25 non-null     object
dtypes: float64(4), int64(2), object(4)
memory usage: 2.1+ KB

In [9]:
depot.head(5)

,IdentifiantDepot,NomDepot,TypeDepot,Capacite,Latitude,Longitude,VolumeDeverse,IdentifiantArrondissement,ArrondissementCode,Arrondissement
0,55,Saint-Pierre (LAC),Chute_Egout,0.0,45.467577,-73.598836,129858.20,15,LAC,Lachine
1,56,Lausanne (MTN),Chute_Egout,0.0,45.587811,-73.648882,115891.46,14,MTN,Montréal-Nord
2,30,Jules-Poitras 1 (AHU),Chute_Egout,0.0,45.529812,-73.692688,320178.57,22,AHU,Ahuntsic / Cartierville
3,47,Château Pierrefonds (PRF),Entassement,200000.0,45.460858,-73.899178,182546.29,11,PRF,Pierrefonds / Roxboro
4,49,Thimens (SLA),Entassement,478210.0,45.495180,-73.721363,501419.06,13,SLA,Saint-Laurent

## Secteur Overview

In [10]:
secteur.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 5 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   IdenfiantSecteur           583 non-null    int64
 1   NomSecteur                 583 non-null    object
 2   IdentifiantArrondissement  583 non-null    int64
 3   ArrondissementCode         583 non-null    object
 4   Arrondissement             583 non-null    object
dtypes: int64(2), object(3)
memory usage: 22.9+ KB

In [11]:
secteur.head()

,IdenfiantSecteur,NomSecteur,IdentifiantArrondissement,ArrondissementCode,Arrondissement
0,4,RDP-91,17,RDP,R.D.P. / P.A.T.
1,4,RDP-91,17,RDP,R.D.P. / P.A.T.
2,4,RDP-91,17,RDP,R.D.P. / P.A.T.
3,5,RDP-92,17,RDP,R.D.P. / P.A.T.
4,5,RDP-92,17,RDP,R.D.P. / P.A.T.

## Transaction Overview

In [12]:
transaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286468 entries, 0 to 286467
Data columns (total 14 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   TransactionID              286468 non-null  int64
 1   DateChargement             286468 non-null  object
 2   IdenfiantSecteur           264257 non-null  float64
 3   NomSecteur                 264257 non-null  object
 4   IdentifiantArrondissement  286468 non-null  int64
 5   ArrondissementCode         286468 non-null  object
 6   Arrondissement             286468 non-null  object
 7   IdentifiantDepot           286468 non-null  int64
 8   NomDepot                   286468 non-null  object
 9   DateDechargement           286468 non-null  object
 10  volume                     286468 non-null  float64
 11  TypeTransaction            286468 non-null  object
 12  IdentifiantContrat         264257 non-null  float64
 13  NumeroContrat              264257 non-null  object
dtypes: float64(3), int64(3), object(8)
memory usage: 30.6+ MB

In [13]:
transaction.head()

,TransactionID,DateChargement,IdenfiantSecteur,NomSecteur,IdentifiantArrondissement,ArrondissementCode,Arrondissement,IdentifiantDepot,NomDepot,DateDechargement,volume,TypeTransaction,IdentifiantContrat,NumeroContrat
0,2424823,1969-12-31T19:00:00,83.0,LAC-104,15,LAC,Lachine,55,Saint-Pierre (LAC),2022-12-18T04:35:05,28.79,N-AUT,1148.0,LAC-104
1,2424835,1969-12-31T19:00:00,83.0,LAC-104,15,LAC,Lachine,55,Saint-Pierre (LAC),2022-12-18T05:12:20,28.79,N-AUT,1148.0,LAC-104
2,2424850,1969-12-31T19:00:00,83.0,LAC-104,15,LAC,Lachine,55,Saint-Pierre (LAC),2022-12-18T05:49:15,28.79,N-AUT,1148.0,LAC-104
3,2424856,1969-12-31T19:00:00,83.0,LAC-104,15,LAC,Lachine,55,Saint-Pierre (LAC),2022-12-18T06:04:12,28.79,N-AUT,1148.0,LAC-104
4,2424871,1969-12-31T19:00:00,83.0,LAC-104,15,LAC,Lachine,55,Saint-Pierre (LAC),2022-12-18T06:23:10,28.79,N-AUT,1148.0,LAC-104

In [30]:
transaction["DateChargement"] = pd.to_datetime(transaction["DateChargement"])
transaction["DateDechargement"] = pd.to_datetime(transaction["DateDechargement"])
transaction.head()

,DateChargement,Idenfiantsecteur,NomSecteur,IdentifiantArrondissement,ArrondissementCode,Arrondissement,IdentifiantDepot,NomDepot,DateDechargement,volume,TypeTransaction,IdentifiantContrat,NuméroContrat,IdenfiantSecteur,NumeroContrat
TransactionID,,,,,,,,,,,,,,,
375501,2016-12-13 10:45:02,104.0,SLA-353,13,SLA,Saint-Laurent,49,Thimens (SLA),2016-12-13 10:53:27,59.64,AUT,354.0,SLA-353,NaN,NaN
375636,2016-12-13 10:58:44,95.0,MTN-303,14,MTN,Montréal-Nord,58,St-Michel - Charland (VSP),2016-12-13 11:06:26,28.76,AUT,327.0,MTN-303,NaN,NaN
375657,2016-12-13 11:01:01,95.0,MTN-303,14,MTN,Montréal-Nord,58,St-Michel - Charland (VSP),2016-12-13 11:08:59,31.34,AUT,327.0,MTN-303,NaN,NaN
375778,2016-12-13 11:11:01,104.0,SLA-353,13,SLA,Saint-Laurent,49,Thimens (SLA),2016-12-13 11:19:52,59.64,AUT,354.0,SLA-353,NaN,NaN
375901,2016-12-13 11:26:03,95.0,MTN-303,14,MTN,Montréal-Nord,58,St-Michel - Charland (VSP),2016-12-13 11:33:39,28.76,AUT,327.0,MTN-303,NaN,NaN

# What are the descriptions in the Contrat dataset?

* Did the companies fully executed the service described in their contract?

In [ ]:
contrat["DescriptionType"].value_counts(dropna=False)

Contrat attribué à entrepreneurs pour le transport de le neige uniquement                     59
Contrat exécuté dans sa totalilité (Épandage, déblaiement, transport, etc..) par le privée    46
Contrat exécuté par la régie                                                                  19
NaN                                                                                            1
Name: DescriptionType, dtype: int64

# What are the descriptions of the data?

* Did the depots surpassed their capacity?

In [ ]:
depot["TypeDepot"].value_counts(dropna=False)

Chute_Egout    15
Entassement    11
Carierre        2
Name: TypeDepot, dtype: int64

In [ ]:
depot["Surpassed"] = (depot["Capacite"] - depot["VolumeDeverse"]) < 0
depot["Surpassed"]

# In 2016-17, most of the depots had their capacity surpassed
# But what to do when the capacity is 0?

0      True
1      True
2      True
3      True
4     False
5      True
6      True
7      True
8     False
9      True
10     True
11     True
12     True
13     True
14    False
15    False
16    False
17    False
18     True
19    False
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27     True
Name: Surpassed, dtype: bool

In [ ]:
# How many depots have the capacity equal to zero?
(depot["Capacite"] == 0).sum() / len(depot["Capacite"])

0.5357142857142857

In [ ]:
# Do Chute_Egout always have capacity equals to 0? R.: Yes.
egout_depots = depot[depot["TypeDepot"] == "Chute_Egout"]
capacity_zero = sum(egout_depots["Capacite"] == 0)
capacity_zero / len(egout_depots)

1.0

# How much snow do we throw in each type of depot?

In [ ]:
depot.groupby(by="TypeDepot")["VolumeDeverse"].sum().sort_values()

TypeDepot
Chute_Egout    3229825.60
Carierre       3601570.09
Entassement    7638718.41
Name: VolumeDeverse, dtype: float64

# And in each depot?

In [ ]:
depot.groupby(by="NomDepot")["VolumeDeverse"].sum().to_frame()

                            VolumeDeverse
NomDepot
46 ieme (LAC)                   254271.36
Anbar (CDN)                      58567.63
Angrignon (LAS)                1598812.75
Armand-Chaput (RDP)            1060671.90
Autoroute 13 (PRF)               34427.78
Butler (S-O)                    359614.74
Château Pierrefonds (PRF)       195647.79
De la Salle (MHM)               419138.87
Fullum (VMA)                    493233.82
Iberville (PMR)                  51995.85
Jules-Poitras 1 (AHU)           409158.27
Jules-Poitras 2 (SLA)            82738.27
Lafarge (sud) (MHM)             895641.07
Langelier (SLE)                1012110.88
Lausanne (MTN)                   92881.51
Millen (AHU)                    218149.50
Newman (S-O)                    315827.49
Ray-Lawson (ANJ)               1457854.35
Riverside (VMA)                 105322.91
Saint-Pierre (CDN)              161851.86
Saint-Pierre (LAC)              193253.52
Sartelon (SLA)                  191015.32
Sauvé (AHU)                     152553.99
St-Michel - Charland (VSP)      904069.51
St-Michel - Robert (VSP)       2697500.58
Stinson (SLA)                   196338.63
Thimens (SLA)                   622437.72
Verdun (VER)                    235026.23

## Information on all data

In [27]:
timestamp = 'DateDechargement'
dft = []
dfc = []
dfd = []
dfs = []
for y in range(2016, 2022):
    print(y)
    t = functions.generate_source_path(name='transaction',year=y, prepath='../').absolute()
    dft.append( pd.read_csv(t, index_col=0, parse_dates=[timestamp, 'DateChargement'], low_memory=False) )
    
    #dfc.append( pd.read_csv(functions.generate_source_path(name='contract',year=y, prepath='../').absolute(),
    #                        index_col=0, low_memory=False) )
    dfd.append( pd.read_csv(functions.generate_source_path(name='depot',year=y, prepath='../').absolute(),
                            index_col=0, low_memory=False) )
    dfs.append( pd.read_csv(functions.generate_source_path(name='secteur',year=y, prepath='../').absolute(),
                            index_col=0, low_memory=False) )

2016
2017
2018
2019
2020
2021

In [29]:
depot = pd.concat(dfd, axis=0)
secteur = pd.concat(dfs, axis=0)
transaction = pd.concat(dft, axis=0)

In [31]:
transaction.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1952837 entries, 375501 to 2204491
Data columns (total 15 columns):
 #   Column                     Dtype
---  ------                     -----
 0   DateChargement             datetime64[ns]
 1   Idenfiantsecteur           float64
 2   NomSecteur                 object
 3   IdentifiantArrondissement  int64
 4   ArrondissementCode         object
 5   Arrondissement             object
 6   IdentifiantDepot           int64
 7   NomDepot                   object
 8   DateDechargement           datetime64[ns]
 9   volume                     float64
 10  TypeTransaction            object
 11  IdentifiantContrat         float64
 12  NuméroContrat              object
 13  IdenfiantSecteur           float64
 14  NumeroContrat              object
dtypes: datetime64[ns](2), float64(4), int64(2), object(7)
memory usage: 238.4+ MB

In [54]:
import io
from functions import doc_table
from docx import Document
from pathlib import Path
save_dir = ['..','media']

doc = Document()
doc.add_heading('EDA', 0)


desc = transaction.describe().T
buffer = io.StringIO()
transaction.info(buf=buffer, show_counts=True)
s = buffer.getvalue()

doc.add_heading('transaction', 1)
doc.add_paragraph('description')
t_rows = desc.round(decimals=2)
doc_table(doc=doc, tab=t_rows)
p = doc.add_paragraph('')
doc.add_page_break()
doc.add_paragraph('info')
p = doc.add_paragraph(s)
doc.add_page_break()


desc = secteur.describe().T
buffer = io.StringIO()
secteur.info(buf=buffer, show_counts=True)
s = buffer.getvalue()

doc.add_heading('secteur', 1)
doc.add_paragraph('description')
t_rows = desc.round(decimals=2)
doc_table(doc=doc, tab=t_rows)
p = doc.add_paragraph('')
doc.add_page_break()
doc.add_paragraph('info')
p = doc.add_paragraph(s)
doc.add_page_break()


desc = depot.describe().T
buffer = io.StringIO()
depot.info(buf=buffer, show_counts=True)
s = buffer.getvalue()

doc.add_heading('depot', 1)
doc.add_paragraph('description')
t_rows = desc.round(decimals=2)
doc_table(doc=doc, tab=t_rows)
p = doc.add_paragraph('')
doc.add_page_break()
doc.add_paragraph('info')
p = doc.add_paragraph(s)
doc.add_page_break()

# save the doc
doc.save(Path(*save_dir, 'eda.docx'))

0
1
2
3
4
5
0
0
1
2
3
4
5
6