# Introduction

Notebook for a first analysis of the data available. I will focus on just the years 2016 and 2017 for simplicity. Other notebooks will be created to analyse other years.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('ggplot')
# print(plt.style.available)
# import seaborn as sns
# sns.set(style="darkgrid")

# Importing Datasets

In [2]:
contrat = pd.read_csv("../data/contrat/contrats_deneigement_saison_2016-2017.csv")
depot = pd.read_csv("../data/depot/depots_deneigement_saison_2016-2017.csv")
secteur = pd.read_csv("../data/secteur/secteurs_deneigement_saison_2016-2017.csv")
transaction = pd.read_csv("../data/transaction/transactions_deneigement_saison_2016-2017.csv")

C:\Users\pcorreia\AppData\Roaming\Python\Python38\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (3,13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

## Contrat Overview

In [3]:
contrat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   IdentifiantContrat         125 non-null    int64
 1   NuméroContrat              125 non-null    object
 2   TypeContrat                124 non-null    object
 3   AnneeContrat               125 non-null    object
 4   IdentifiantArrondissement  125 non-null    int64
 5   ArrondissementCode         125 non-null    object
 6   Arrondissement             125 non-null    object
 7   DescriptionType            124 non-null    object
 8   Entreprise                 125 non-null    object
dtypes: int64(2), object(7)
memory usage: 5.4+ KB

In [4]:
contrat.head()

,IdentifiantContrat,NuméroContrat,TypeContrat,AnneeContrat,IdentifiantArrondissement,ArrondissementCode,Arrondissement,DescriptionType,Entreprise
0,223,AHU-14,Transport,2014-2019,22,AHU,Ahuntsic / Cartierville,Contrat attribué à entrepreneurs pour le trans...,Gestion Yvan Pion inc.
1,224,AHU-15,Déneigement,2015-2017,22,AHU,Ahuntsic / Cartierville,"Contrat exécuté dans sa totalilité (Épandage, ...",Transport Rosemont inc.
2,225,AHU-16,Transport,2014-2019,22,AHU,Ahuntsic / Cartierville,Contrat attribué à entrepreneurs pour le trans...,Gestion Yvan Pion inc.
3,226,AHU-17,Déneigement,2015-2017,22,AHU,Ahuntsic / Cartierville,"Contrat exécuté dans sa totalilité (Épandage, ...",Transport Rosemont inc.
4,227,AHU-18,Déneigement,2012-2017,22,AHU,Ahuntsic / Cartierville,"Contrat exécuté dans sa totalilité (Épandage, ...",Tr. Gilbert Hamelin inc.

## Depot Overview

In [5]:
depot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   IdentifiantDepot           28 non-null     int64
 1   NomDepot                   28 non-null     object
 2   TypeDepot                  28 non-null     object
 3   Capacite                   28 non-null     int64
 4   VolumeDeverse              28 non-null     float64
 5   IdentifiantArrondissement  28 non-null     int64
 6   ArrondissementCode         28 non-null     object
 7   Arrondissement             28 non-null     object
dtypes: float64(1), int64(3), object(4)
memory usage: 1.4+ KB

In [6]:
depot.head(5)

,IdentifiantDepot,NomDepot,TypeDepot,Capacite,VolumeDeverse,IdentifiantArrondissement,ArrondissementCode,Arrondissement
0,27,Millen (AHU),Chute_Egout,0,218149.50,22,AHU,Ahuntsic / Cartierville
1,28,Sauvé (AHU),Chute_Egout,0,152553.99,22,AHU,Ahuntsic / Cartierville
2,30,Jules-Poitras 1 (AHU),Chute_Egout,0,409158.27,22,AHU,Ahuntsic / Cartierville
3,31,St-Michel - Robert (VSP),Carierre,2385000,2697500.58,24,VSP,Villeray / St-Michel / Parc-Extension
4,34,Lafarge (sud) (MHM),Entassement,1100000,895641.07,21,MHM,Mercier / Hochelaga / Maisonneuve

## Secteur Overview

In [7]:
secteur.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 5 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   IdenfiantSecteur           140 non-null    int64
 1   NomSecteur                 140 non-null    object
 2   IdentifiantArrondissement  140 non-null    int64
 3   ArrondissementCode         140 non-null    object
 4   Arrondissement             140 non-null    object
dtypes: int64(2), object(3)
memory usage: 3.9+ KB

In [8]:
secteur.head()

,IdenfiantSecteur,NomSecteur,IdentifiantArrondissement,ArrondissementCode,Arrondissement
0,93,MTN-01,14,MTN,Montréal-Nord
1,55,CDN-72,25,CDN,Côte-des-Neiges / Notre-Dame-de-Grâce
2,98,PRF-01,11,PRF,Pierrefonds / Roxboro
3,36,AHU-14,22,AHU,Ahuntsic / Cartierville
4,31,AHU-15,22,AHU,Ahuntsic / Cartierville

## Transaction Overview

In [9]:
transaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 338809 entries, 0 to 338808
Data columns (total 14 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   TransactionID              338809 non-null  int64
 1   DateChargement             338809 non-null  object
 2   Idenfiantsecteur           319642 non-null  float64
 3   NomSecteur                 319642 non-null  object
 4   IdentifiantArrondissement  338809 non-null  int64
 5   ArrondissementCode         338809 non-null  object
 6   Arrondissement             338809 non-null  object
 7   IdentifiantDepot           338809 non-null  int64
 8   NomDepot                   338809 non-null  object
 9   DateDéchargement           338809 non-null  object
 10  volume                     338809 non-null  float64
 11  TypeTransaction            338809 non-null  object
 12  IdentifiantContrat         319642 non-null  float64
 13  NuméroContrat              319642 non-null  object
dtypes: float64(3), int64(3), object(8)
memory usage: 25.8+ MB

In [10]:
transaction.head()

,TransactionID,DateChargement,Idenfiantsecteur,NomSecteur,IdentifiantArrondissement,ArrondissementCode,Arrondissement,IdentifiantDepot,NomDepot,DateDéchargement,volume,TypeTransaction,IdentifiantContrat,NuméroContrat
0,375501,2016-12-13 10:45:02,104.0,SLA-353,13,SLA,Saint-Laurent,49,Thimens (SLA),2016-12-13 10:53:27,59.64,AUT,354.0,SLA-353
1,375636,2016-12-13 10:58:44,95.0,MTN-303,14,MTN,Montréal-Nord,58,St-Michel - Charland (VSP),2016-12-13 11:06:26,28.76,AUT,327.0,MTN-303
2,375657,2016-12-13 11:01:01,95.0,MTN-303,14,MTN,Montréal-Nord,58,St-Michel - Charland (VSP),2016-12-13 11:08:59,31.34,AUT,327.0,MTN-303
3,375778,2016-12-13 11:11:01,104.0,SLA-353,13,SLA,Saint-Laurent,49,Thimens (SLA),2016-12-13 11:19:52,59.64,AUT,354.0,SLA-353
4,375901,2016-12-13 11:26:03,95.0,MTN-303,14,MTN,Montréal-Nord,58,St-Michel - Charland (VSP),2016-12-13 11:33:39,28.76,AUT,327.0,MTN-303

In [11]:
transaction["DateChargement"] = pd.to_datetime(transaction["DateChargement"])
transaction["DateDéchargement"] = pd.to_datetime(transaction["DateDéchargement"])
transaction.head()

,TransactionID,DateChargement,Idenfiantsecteur,NomSecteur,IdentifiantArrondissement,ArrondissementCode,Arrondissement,IdentifiantDepot,NomDepot,DateDéchargement,volume,TypeTransaction,IdentifiantContrat,NuméroContrat
0,375501,2016-12-13 10:45:02,104.0,SLA-353,13,SLA,Saint-Laurent,49,Thimens (SLA),2016-12-13 10:53:27,59.64,AUT,354.0,SLA-353
1,375636,2016-12-13 10:58:44,95.0,MTN-303,14,MTN,Montréal-Nord,58,St-Michel - Charland (VSP),2016-12-13 11:06:26,28.76,AUT,327.0,MTN-303
2,375657,2016-12-13 11:01:01,95.0,MTN-303,14,MTN,Montréal-Nord,58,St-Michel - Charland (VSP),2016-12-13 11:08:59,31.34,AUT,327.0,MTN-303
3,375778,2016-12-13 11:11:01,104.0,SLA-353,13,SLA,Saint-Laurent,49,Thimens (SLA),2016-12-13 11:19:52,59.64,AUT,354.0,SLA-353
4,375901,2016-12-13 11:26:03,95.0,MTN-303,14,MTN,Montréal-Nord,58,St-Michel - Charland (VSP),2016-12-13 11:33:39,28.76,AUT,327.0,MTN-303

# What are the descriptions in the Contrat dataset?

* Did the companies fully executed the service described in their contract?

In [12]:
contrat["DescriptionType"].value_counts(dropna=False)

Contrat attribué à entrepreneurs pour le transport de le neige uniquement                     59
Contrat exécuté dans sa totalilité (Épandage, déblaiement, transport, etc..) par le privée    46
Contrat exécuté par la régie                                                                  19
NaN                                                                                            1
Name: DescriptionType, dtype: int64

# What are the descriptions of the data?

* Did the depots surpassed their capacity?

In [13]:
depot["TypeDepot"].value_counts(dropna=False)

Chute_Egout    15
Entassement    11
Carierre        2
Name: TypeDepot, dtype: int64

In [14]:
depot["Surpassed"] = (depot["Capacite"] - depot["VolumeDeverse"]) < 0
depot["Surpassed"]

# In 2016-17, most of the depots had their capacity surpassed
# But what to do when the capacity is 0?

0      True
1      True
2      True
3      True
4     False
5      True
6      True
7      True
8     False
9      True
10     True
11     True
12     True
13     True
14    False
15    False
16    False
17    False
18     True
19    False
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27     True
Name: Surpassed, dtype: bool

In [15]:
# How many depots have the capacity equal to zero?
(depot["Capacite"] == 0).sum() / len(depot["Capacite"])

0.5357142857142857

In [16]:
# Do Chute_Egout always have capacity equals to 0? R.: Yes.
egout_depots = depot[depot["TypeDepot"] == "Chute_Egout"]
capacity_zero = sum(egout_depots["Capacite"] == 0)
capacity_zero / len(egout_depots)

1.0

# How much snow do we throw in each type of depot?

In [17]:
depot.groupby(by="TypeDepot")["VolumeDeverse"].sum().sort_values()

TypeDepot
Chute_Egout    3229825.60
Carierre       3601570.09
Entassement    7638718.41
Name: VolumeDeverse, dtype: float64

# And in each depot?

In [18]:
depot.groupby(by="NomDepot")["VolumeDeverse"].sum().to_frame()

                            VolumeDeverse
NomDepot
46 ieme (LAC)                   254271.36
Anbar (CDN)                      58567.63
Angrignon (LAS)                1598812.75
Armand-Chaput (RDP)            1060671.90
Autoroute 13 (PRF)               34427.78
Butler (S-O)                    359614.74
Château Pierrefonds (PRF)       195647.79
De la Salle (MHM)               419138.87
Fullum (VMA)                    493233.82
Iberville (PMR)                  51995.85
Jules-Poitras 1 (AHU)           409158.27
Jules-Poitras 2 (SLA)            82738.27
Lafarge (sud) (MHM)             895641.07
Langelier (SLE)                1012110.88
Lausanne (MTN)                   92881.51
Millen (AHU)                    218149.50
Newman (S-O)                    315827.49
Ray-Lawson (ANJ)               1457854.35
Riverside (VMA)                 105322.91
Saint-Pierre (CDN)              161851.86
Saint-Pierre (LAC)              193253.52
Sartelon (SLA)                  191015.32
Sauvé (AHU)                     152553.99
St-Michel - Charland (VSP)      904069.51
St-Michel - Robert (VSP)       2697500.58
Stinson (SLA)                   196338.63
Thimens (SLA)                   622437.72
Verdun (VER)                    235026.23